<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthmentee</title>
    <link rel="shortcut icon" href="./img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="main.css">
</head>
<body>

    <% let fullname = doctor.fname+" "+doctor.lname %>
   
    

    <nav class=" relative  mx-auto py-4 px-8 bg-red-300">
        <!-- Flex Container -->
        <div class="flex items-center justify-between">
            <!-- Logo -->
            <div>
                <img src="./img/logo.png" alt="" class="w-14">
            </div>

            <!-- Menu Item -->
            <div class="hidden lg:flex space-x-10">
                <a href="./index.html" class="hover:text-red-700 text-2xl">Home</a>
                <a href="./about.html" class="hover:text-red-700 text-2xl">About</a>
                <a href="./blog.html" class="hover:text-red-700 text-2xl">Blogs</a>
                <a href="./activities.html" class="hover:text-red-700 text-2xl">Activities</a>
            </div>

            <!-- Button -->
            <a href="#" class="hidden lg:block p-3 px-6 pt-2 text-white bg-red-500 rounded-full baseline hover:bg-red-600"><%= fullname %></a>

            <!-- Hamburger Icon -->
        <button id="menu-btn" class="block hamburger lg:hidden focus:outline-none">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
        </div>

        

        <!-- Mobile Menu -->
        <div class="lg:hidden">
            <div id="menu" class="absolute flex-col items-center self-end hidden py-8 mt-10 space-y-6 bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                <a href="#" class="hover:text-red-700">Home</a>
                <a href="#" class="hover:text-red-700">About</a>
                <a href="#" class="hover:text-red-700">Blogs</a>
                <a href="#" class="hover:text-red-700">Activities</a>
                <!-- <a href="#" class="hover:text-red-700">Random</a> -->
                <a href="#" class=" p-3 px-6 pt-2 text-white bg-red-500 rounded-full baseline hover:bg-red-600">LOG IN</a>
            </div>
        </div>
    </nav>

    <section class="details" style="display: block;padding: 10px 20px; border: 2px solid rgb(11, 52, 90);border-radius: 5px;">
        <span style="font-family: sans-serif; font-size: x-large; font-weight: bold;">Welcome Dr. <%= fullname %></span>
        <ul style="display: block;padding: 10px;">
            <li class="text-lg" >Full Name : <%= fullname %></li>
            <li class="text-lg" >Email id : <%= doctor.email %></li>
            <!-- <li class="text-lg" >Occupation : <%= doctor.fav_language %> </li> -->
            <li class="text-lg" > </li>
        </ul>
    </section>


    <div class="bg-gray-300">
        <div>
            <h1 class="font-serif text-3xl font-extrabold text-center px-4 py-10 mx-auto  text-rose-600">Daily Activities to Boost Your Mood</h1>
        </div>
        <div class="flex flex-row flex-wrap justify-around grow gap-10">
            <div
                class=" p-2 bg-white w-96 rounded-xl transition-transform-all hover:translate-y-2 duration-300 shadow-lg hover:shadow-2xl my-12 text-center mx-10">
                <img src="./img/mental-health-3609165-3016790.png" class="h-40 object-cover rounded-xl mx-auto my-5" alt="">
                <div>
                    <h2 class="font-bold text-lg"> Day 1: Engage into gardening </h2>
                    <p class="my-3">Gardening is a wonderful activity that can help you such as reducing stress, improving mood, and increasing feelings of well-being</p>
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <label class="block mb-2 font-bold text-slate-800 mx-5" for="photo1">Upload a photo of yourself
                            gardening:</label>
                        <input type="file" id="photo1" name="photo1" accept="image/*" class="mb-4 mx-8 " />
                        <button type="submit" class="bg-rose-500 text-white font-bold py-2 px-4 rounded hover:bg-rose-800">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
            <div
                class=" p-2 bg-white w-96 rounded-xl transition-transform-all hover:translate-y-2 duration-300 shadow-lg hover:shadow-2xl my-12 text-center">
                <img src="./img/mindfulness.jpg" class="h-40 object-cover rounded-xl mx-auto my-5" alt="">
                <div>
                    <h2 class="font-bold text-lg"> Day 2: Practise Mindfulness </h2>
                    <p class="my-3"> Practice mindfulness meditation, deep breathing exercises, or other
                        relaxation techniques to reduce stress and improve emotional
                        well-being!</p>
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <label class="block mb-2 font-bold text-slate-800 mx-5" for="photo1">Upload a photo of yourself
                            gardening:</label>
                        <input type="file" id="photo1" name="photo1" accept="image/*" class="mb-4 mx-8" />
                        <button type="submit" class="bg-rose-500 text-white font-bold py-2 px-4 rounded hover:bg-rose-800">
                            Submit
                        </button>
                    </form>
                </div>
    
    
    
    
            </div>
            <div
                class="p-2 bg-white w-96 rounded-xl transition-transform-all hover:translate-y-2 duration-300 shadow-lg hover:shadow-2xl my-12 text-center">
                <img src="./img/happy-woman-walking-park-throw-up-falling-colorful-leaves-enjoying-sunny-autumn-weather-female-character-spend-time-nature-156835345.jpg" class="h-40 object-cover rounded-xl mx-auto my-5" alt="">
                <div>
                    <h2 class="font-bold text-lg"> Day 3: Go out in Nature </h2>
                    <p class="my-3">Spend time in nature, whether it's a walk in the park, hiking in the
                        mountains, or a day</p>
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <label class="block mb-2 font-bold text-slate-800" for="photo1">Upload a photo of yourself
                            gardening:</label>
                        <input type="file" id="photo1" name="photo1" accept="image/*" class="mb-4 mx-8" />
                        <button type="submit" class="bg-rose-500 text-white font-bold py-2 px-4 rounded hover:bg-rose-800">
                            Submit
                        </button>
                    </form>
                </div>
    
    
    
    
            </div>
            <div
                class="p-2 bg-white w-96 rounded-xl transition-transform-all hover:translate-y-2 duration-300 shadow-lg hover:shadow-2xl my-12 text-center">
                <img src="./img/music.jpg" class="h-40 object-cover rounded-xl mx-auto my-5" alt="">
                <div>
                    <h2 class="font-bold text-lg"> Day 4: Listen to any of your favourite music</h2>
                    <p class="my-3">Listening to music can help reduce stress, improve mood, and promote relaxation.Show us how much you enjoyed the track.</p>
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <label class="block mb-2 font-bold text-slate-800" for="photo1">Upload a photo of yourself
                            gardening:</label>
                        <input type="file" id="photo1" name="photo1" accept="image/*" class="mb-4 mx-8" />
                        <button type="submit" class="bg-rose-500 text-white font-bold py-2 px-4 rounded hover:bg-rose-800">
                            Submit
                        </button>
                    </form>
                </div>
    
    
    
    
            </div>
            <div
                class="p-2 bg-white w-96 rounded-xl transition-transform-all hover:translate-y-2 duration-300 shadow-lg hover:shadow-2xl my-12 text-center">
                <img src="./img/spend time.jpg" class="h-40 object-cover rounded-xl mx-auto my-5" alt="">
                <div>
                    <h2 class="font-bold text-lg"> Day 5: Spend some quality time with your friends and family </h2>
                    <p class="my-3">Social support is important for mental health, and spending time with loved ones can help improve mood and reduce stress.</p>
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <label class="block mb-2 font-bold text-slate-800" for="photo1">Upload a photo of yourself
                            gardening:</label>
                        <input type="file" id="photo1" name="photo1" accept="image/*" class="mb-4 mx-8" />
                        <button type="submit" class="bg-rose-500 text-white font-bold py-2 px-4 rounded hover:bg-rose-800">
                            Submit
                        </button>
                    </form>
                </div>
    
    
    
    
            </div>
            <div
                class="p-2 bg-white w-96 rounded-xl transition-transform-all hover:translate-y-2 duration-300 shadow-lg hover:shadow-2xl my-12 text-center">
                <img src="./img/gratitude-concept-flat-tiny-person-vector-illustration-human-holding-heart-being-loving-mind-state-thoughts-life-171279820.jpg" class="h-40 object-cover rounded-xl mx-auto my-5" alt="">
                <div>
                    <h2 class="font-bold text-lg"> Day 6: Express your gratitude to someone you love or are greateful for. </h2>
                    <p class="my-3">Focusing on the things that you are grateful for can help improve mood and increase positive emotions</p>
                    <form action="#" method="POST" enctype="multipart/form-data">
                        <label class="block mb-2 font-bold text-slate-800" for="photo1">Upload a photo of yourself
                            gardening:</label>
                        <input type="file" id="photo1" name="photo1" accept="image/*" class="mb-4 mx-8" />
                        <button type="submit" class="bg-rose-500 text-white font-bold py-2 px-4 rounded hover:bg-rose-800">
                            Submit
                        </button>
                    </form>
                </div>
    
    
    
    
    
    
    
    
    
            </div>
        </div>
    </div>


    <section id="mission">
        <div class="px-28 bg-rose-400">
            <h4 class="text-white text-4xl text-center py-14">Our Mission</h4>
            <p class="text-lg text-bold pb-10">Our mission is to make high-quality mental healthcare accessible to everyone. We believe that mental health is just as important as physical health and that everyone deserves access to resources and support to achieve optimal mental wellbeing. Our web-based mental health app is designed to break down the barriers that prevent people from seeking mental health care, such as cost, location, and stigma. We strive to provide a safe, secure, and confidential platform that connects individuals with licensed therapists and mental health professionals who can offer personalized support and guidance. Our goal is to empower individuals to take control of their mental health and live happier, more fulfilling lives</p>
        </div>
    </section>

    <footer class="bg-rose-600 px-24 pt-16 pb-8">
        <div class="flex flex-col md:flex-row md:justify-around space-y-10 md:space-y-0">
            <!-- Get in Touch -->
            <div>
                <h4 class="text-xl mb-1">Get in Touch</h4>
                <p class="text-white text-md">business@something.com</p>
                <p class="text-white text-md">hello@gethelp.com</p>
            </div>

            <!-- Connect -->
            <div>
                <h4 class="text-xl mb-1">Connect</h4>
                <p class="text-white text-md">LinkedIn</p>
                <p class="text-white text-md">Instagram</p>
            </div>

            <!-- Design Services -->
            <div>
                <h4 class="text-xl mb-1">Design Services</h4>
                <p class="text-white text-md">10999</p>
                <p class="text-white text-md">something something</p>
            </div>

            <!-- Ventures -->
            <div>
                <h4 class="text-xl mb-1">Ventures</h4>
                <p class="text-white text-md">something</p>
                <p class="text-white text-md">something 2</p>
            </div>

        </div>

        <!-- Lower Section -->
        <div class="mt-24  bg-white p-4 rounded-3xl space-x-4 inline-block footer-links">
            <a href="" class="text-lg hover:text-white hover:bg-rose-600 py-1 px-3 rounded-3xl ">Home</a>
            <a href="" class="text-lg hover:text-white hover:bg-rose-600 py-1 px-2 rounded-3xl ">About</a>
            <a href="" class="text-lg hover:text-white hover:bg-rose-600 py-1 px-2 rounded-3xl ">Blogs</a>
            <a href="" class="text-lg hover:text-white hover:bg-rose-600 py-1 px-2 rounded-3xl ">Activities</a>
            
        </div>

    </footer>


</body>
</html>